<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <security>
     <requestFiltering>
       <requestLimits maxAllowedContentLength="1048576000"/>
     </requestFiltering>  
    </security>
  </system.webServer>
    <system.web>
      <compilation debug="true" targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5" maxRequestLength="1048576000"/>
    
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>
 <appSettings>
    <add key="CADENA_CONEXION_SQL" value="data source=.\sqlexpress;Integrated Security=SSPI;initial catalog=TT;persist security info=True;pooling=false;max pool size=100;"/>
  
    
    <add key="serverMail" value="smtp.momentum-ti.com"/>
    <add key="usrMail" value="dduran@momentum-ti.com"/>
    <add key="pswMail" value="Damon741@"/>
    <add key="puertoMail" value="587"/>
    <add key="server" value="http://"/>
    <add key="mailDiadema" value="El_oso_juancho@ponys.com"/>

  </appSettings>
 <system.serviceModel>
  <behaviors>
   <endpointBehaviors>
    <behavior name="ConexionDiademaAspNetAjaxBehavior">
     <enableWebScript />
    </behavior>
   </endpointBehaviors>
  </behaviors>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
  <services>
   <service name="ConexionDiadema">
    <endpoint address="" behaviorConfiguration="ConexionDiademaAspNetAjaxBehavior"
     binding="webHttpBinding" contract="ConexionDiadema" />
   </service>
  </services>
 </system.serviceModel>
</configuration>
